<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>{{page_related_data.title}}</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}"/>

<body>
    <div id="wrapper">
    {%if page_related_data.task == 'view'%}
        <form action="{%url 'insert_register_form_values_in_database'%}" method="post">
    {%else%}
        <form action="{%url 'registered_user_data_edited' registered_user_edit_or_delete_all_information.id%}" method="post">
    {%endif%}
            {%csrf_token%}
            <fieldset>
                <legend>{{page_related_data.form_title}}</legend>
                {% for field in page_related_data.form%}
                <div>
                    {{field}}
                </div>
                {% endfor %}
                <input type="submit" name="submit" value="{{page_related_data.button_title}}"/>
                {%if page_related_data.other_button_title %}
                    <input type="submit" name="submit" value="{{page_related_data.other_button_title}}"/>
                {%endif%}
            </fieldset>
        </form>

    </div>
</body>
</html>
