<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>Register form with HTML5 using placeholder and CSS3</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}"/>

<body>
    <div id="wrapper">
        <form action="{%url 'registered_user_data_edited' registered_user_edit_or_delete_all_information.id%}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Register Form</legend>
                {% for field in form%}
                <div>
                    {{field}}
                </div>
                {% endfor%}
                <input type="submit" name="edit" value="Edit"/>
                <input type="submit" name="cancel" value="Cancel"/>
            </fieldset>
        </form>
    </div>
</body>
</html>
