<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>Register form with HTML5 using placeholder and CSS3</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}"/>

<body>
    <div id="wrapper">
        <form action="{%url 'insert_register_form_values_in_database' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Register Form</legend>
                <div>
                    <input type="text" name="first_name" placeholder="First Name" required="required"/>
                </div>
                <div>
                    <input type="text" name="last_name" placeholder="Last Name" required="required"/>
                </div>

                <div>
                    <input type="text" pattern="^[\+][8][8]\d{11}" id="phn_num" name="phone_number" placeholder="Phone Number"/>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <input type="text" name="user_name" placeholder="User Name" required="required" />
                </div>
                <div>
                    <input type="password" pattern=".{6,}" title="Six or more characters" name="password" placeholder="Password"/>
                </div>
                <div>
                    <div class="small">Write your present address here</div>
                    <textarea name="address" placeholder="Address" required="required"></textarea>
                </div>
                <input type="submit" name="submit" value="Submit"/>
            </fieldset>
        </form>
    </div>
</body>
</html>
